<table align="center" class="content-body">
  <tr>
    <td class="content-body_wrap padding-x-40">
      <table>
        <tr>
          <td>
            <p> Hi {{name}},</p>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20">
            <p>
              {{#if sender}}
                {{sender}} has invited you to join the workspace -
              {{else}}
                You have been invited to join the workspace -
              {{/if}}
              <span class="text-bold">{{organizationName}}</span>. Click the 
              button below to get started!
            </p>
            <p class="padding-y-20">
              Should you have any questions or need assistance, our support team
              is
              <a
                class="url"
                href="https://tooljet.com/slack"
                target="_blank"
              >here</a>
              to help or reach out to us on
              <a class="url" target="_blank" href="mailto: hello@tooljet.com">
                hello@tooljet.com</a>.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{inviteUrl}}" target="_blank" class="padding-r-40">
              <button class="primary-btn">
                Join workspace
              </button>
            </a>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20 footer-note">
            <br />
            {{#if (eq whiteLabelText "ToolJet")}}
              <span>Welcome aboard,</span>
              <br />
              <span>The ToolJet Team</span>
            {{else}}
              <span>Welcome aboard!</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
